{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>Crear Post</title>
<link rel="stylesheet" href="{% static 'css/posts/create_post.css' %}"/>
{% endblock %}

{% block container %}
<form method="POST" enctype="multipart/form-data" action="." id="form">
	{% csrf_token %}
	<h1>Crear Post</h1>
	<label for="title">
		<span> <h2>Título</h2> </span>
		<input type="text" id="title" placeholder="Título del post" name="title" required="true"/>
	</label>
	<label for="description">
		<span> <h2>Subtítulo</h2> </span>
		<input type="text" id="subtitle" placeholder="Breve descripción del post" name="description" required="true"/>
	</label>
	<label for="content">
		<span> <h2>Contenido</h2> </span>
		<textarea id="content" placeholder="Contenido del post" name="content" cols="40" rows="40" required="true"></textarea>
	</label>
	{% for category in categories %}
		<label for="category_{{ forloop.counter }}">
			<span>{{category.name}}</span>
			<input type="checkbox"id="category_{{ forloop.counter }}" name="category_{{ forloop.counter }}"/>
		</label>
	{% endfor %}
	<br/>
	{% if user_clubs %}
		<label for="club">
			<span> <h1>Club</h1> </span>
			<select name="club" id="club">
				{% for club in user_clubs %}
					<option value="{{club.name}}">{{club.name}}</option>
				{% endfor %}
			</select>
		</label>
		<br/>
	{% endif %}
	<label for="thumbnail">
		<span>Añade una imagen:</span>
		<input type="file" accept="image/png, image/jpeg" id="thumbnail" name="thumbnail"/>
		<br/>
	</label>

	<input class="create-button" type="submit" value="CREAR"/>
</form>
{% endblock %}
