{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>Crear Post</title>
<link rel="stylesheet" href="{% static 'css/posts/create_post.css' %}"/>
{% endblock %}

{% block container %}
<form method="POST" action="." id="form">
	{% csrf_token %}
	<h1>Crear Post</h1>
	<label for="title">
		<span> <h2>Título</h2> </span>
		<input type="text" id="title" placeholder="Título del post" name="title" required="true"/>
	</label>
	<label for="description">
		<span> <h2>Subtítulo</h2> </span>
		<input type="text" id="subtitle" placeholder="Breve descripción del post" name="description" required="true"/>
	</label>
	<label for="content">
		<span> <h2>Contenido</h2> </span>
		<textarea id="content" placeholder="Contenido del post" name="content" cols="40" rows="40" required="true"></textarea>
	</label>

	<input type="submit" value="Crear Post"/>
</form>
{% endblock %}
