{% extends "base.html" %}

{% load static %}
{% block head_content %}
	<title>The Torrente Times</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/variables.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/posts/posts.css' %}"/>
{% endblock %}

{% block container %}
<a href="create/" class="add-button">
	<img src="{% static 'img/add_btn_ico.svg' %}"/>
</a>

{% for post,color in posts_and_colors %}
	<article class="post">
		<a href="{{ post.id }}/" class="post__link">
			<div class="post__decoration">
				<div class="post__line" style="border-left: 10px solid {{ color }}"></div>
				{% if post.thumbnail %}
					<img src="{{ post.thumbnail.url }}" class="post__image"/>
				{% endif %}
			</div>
			<div class="post__content">
				<h1>{{ post.title }}</h1>
				<p>{{ post.description }}</p>
			</div>

		</a>
		<div class="post-info">
			{% if post.author_id is None %}
				<div class="post-info__authors">
					<p>Anónimo</p>
				</div>
			{% else %}
				<div class="post-info__authors">
					<p>{{ post.author_id }}</p>
				</div>
			{% endif %}
			{% if user.pk == post.author_id.pk or user.is_staff or user.groups in allowed_groups %}
				{% if user.is_authenticated %}
				<a href="{% url 'delete_post' post_id=post.pk %}" class="post-info__delete">
					<img src="{% static 'img/trash_ico.svg' %}"/>
				</a>
				{% endif %}
			{% endif %}
		</div>
		
	</article>
	<br>
{% endfor %}
{% endblock %}
