{% extends "base.html" %}

{% load static %}
{% block head_content %}
<title>The Torrente Times</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/posts/post.css' %}"/>
{% endblock %}

{% block container %}

	<h1 class="title">{{blogpost.title}}</h1>
	<p class="subtitle"> <i>{{blogpost.description}}</i> </p>

	{% autoescape off %}
		<p class="content">{{blogpost.content}}</p>
	{% endautoescape %}

{% if blogpost.author_id %}
	<i class="author">{{blogpost.author_id}}</i>
{% else %}
	<i class="author">Anónimo</i> 
{% endif %}

<hr/>

{% if user.is_authenticated%}
<form method="POST" action="{% url 'create_comment' post_id=post_id %}" id="form">
	{% csrf_token %}
	<label class="comment-creator" for="content">
		<h3>Crear comentario</h3>
		<textarea id="content" placeholder="Contenido del comentario" name="content" cols=20 rows=20 required="true"></textarea>
	</label>
	<br/>
	<input class="create-button" type="submit" value="Comentar"/>
</form>
{% endif %}

{% for comment in comments %}
	<div class="comment">
		<b class="comment__author">[{{comment.author}}]:</b> <p class="comment__content">{{comment.content}}</p>
	</div>
	<br/>
{% endfor %}

{% endblock %}
