{% extends "base.html" %}

{% load static %}
{% block head_content %}
<title>The Torrente Times</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/posts/post.css' %}"/>
{% endblock %}

{% block container %}

<h1 class="title">{{blogpost.title}}</h1>

<p class="subtitle"> <i>{{blogpost.description}}</i> </p>
<p class="content">{{blogpost.content}}</p>

{% if blogpost.author_id %}
<i class="author">{{blogpost.author_id}}</i>
{% else %}
<i class="author">Anónimo</i> 
{% endif %}

{% endblock %}
