{% extends "base.html" %}

{% load static %}
{% block head_content %}
<title>The Torrente Times</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/clubs/club.css' %}"/>
{% endblock %}

{% block container %}
<h1 class="header">{{club.name}}</h1> 

{% if user.is_authenticated %}
	{% if not user_in_club %}
		<span class="join"><a class="join__link" href="{% url 'join_club' club_id=club.pk %}">UNIRSE</a></span>	
	{% else %}
		<span class="leave"><a class="leave__link" href="{% url 'leave_club' club_id=club.pk %}">DEJAR CLUB</a></span>
	{% endif %}
{% endif %}

<p class="description"><i>{{club.description}}</i></p>

<p class="author"><i>Dueño del club: {{club.owner.username}}</i></p>
{% endblock %}
