h1, h2, h3 {
	color: var(--secondary-color);
}

#form {
	text-align: center;
}
#content {
	height: 80%;
	width: 100%;
}
#subtitle, #title {
	width: 75%;
	height: 2em;
	text-align: center;
}

.thumbnail input {
	border: none;
	border-radius: var(--roundedness);
	color: var(--secondary-color);
	background-color: var(--accent-color);
	padding: var(--roundedness);
}
.form-field *:not(h2){
	background-color: var(--accent-color);
	color: var(--secondary-color);
	padding: var(--roundedness);
	border-radius: var(--roundedness);
	outline: none;
	border: none;
}
.create-button {
	margin: 10px;
	padding: var(--roundedness);
	cursor: pointer;

	background-color: var(--accent-color);
	color: var(--secondary-color);
	border-radius: var(--roundedness);
	border: none;
}
