.main, .comment-separator {
	color: var(--secondary-color);
}
.subtitle, #form, h1 {
	text-align: center;
	padding-left: 0;
}
.author { margin-right: 0; margin-left: auto; }
h3 { padding-left: 10px; }
h4 { padding-left: 20px; }
h5 { padding-left: 30px; }
h6 { padding-left: 40px; }
p, code {
	word-wrap: normal;
	text-align: left;
	padding-left: 60px;
}
ul, ol {
	word-wrap: normal;
	text-align: left;
	padding-left: 100px;
}
code {
	box-decoration-break: clone;
	width: 100%;
	overflow: scroll;
	word-wrap: normal;
	padding-left: 70px;
}
.comment-creator textarea {
	width: 50vh;
	height: 20vh;
	margin: 0;
	padding: var(--roundedness);

	color: var(--secondary-color);
	background-color: var(--accent-color);
	border-radius: var(--roundedness);
	outline: none;
	border: none;
}
.comment b, .comment p {
	display: inline;
}

.create-button {
	border-radius: var(--roundedness);
	padding: var(--roundedness);
	margin: 10px;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: var(--accent-color);
	color: var(--secondary-color);
}
