.main__post {
	border-radius: 10px;
	padding: 10px;
	background: lightgrey;
}

.post__decoration, .post__content {
	display: inline-block;		
	vertical-align: middle;
}

.post__decoration--line {
	display: inline-block;
/*	border-left: 10px solid green;*/
	height: 140px;
	border-radius: 10px;
	vertical-align: middle;
}
.post__decoration img {
	vertical-align: middle;
	display: inline-block;
	height: 140px;
}
.post-info {
	display: inline-grid;
	vertical-align: middle;
	float: right;
}
.post-info__delete * {
	margin: 16px;
	float: right;
	vertical-align: center;
	color: white;
	background-color: darkred;
	border-radius: 10px;
}


.post-info__authors {
	margin: 16px;
	float: right;
	display: block;
}
.post-info__authors p {
	margin: 0;
}

.main__post--link {
	color: black;
	transition: 0.25s;
	display: inline-block;
}
.main__post--link:hover {
	color: blue;
	opacity: 1;
}
.main__post--link:active {
	color:yellow;
}
.add-button {
	display: block;
	text-align: center;
	color: #0f1011;
}
.add-button svg {
	fill: grey;
	transition: 0.25s;
}
.add-button svg:hover path {
	fill: lightgrey;
}
.add-button svg:active path {
	fill: white;
}

