* {
	box-sizing: border-box;	
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--primary-color);
	font-size: 20px;
	color: var(--secondary-color);
}

.main {
	width: 75%;
	margin: auto;
	margin-top: 10px;
}
.header {
	color: var(--secondary-color);
}
.centered {
	text-align: center;
}
::selection {
	background: var(--secondary-color);
	color: var(--accent-color);
}
