.nav {
	height: 20vh;
	background-color: var(--secondary-color);
	display: flex;
	align-items: center;
}
.nav__menu {
	list-style: none;
	display: flex;
	width: 100%;
}
.nav, .nav__menu {
	padding: 0;
	margin: 0;
}

.nav__menu-item:nth-child(2), .nav__menu-item:nth-child(3) {
	float:right;
}
.nav__menu-item-image {
	fill: var(--primary-color);
}
.nav__menu-item-link:hover .nav__menu-item-image {
	fill: var(--accent-color);
}
.nav__menu-item-image {
	height: 100%;
	width: 100%;
}
.nav__menu, .nav__menu-item, .nav__menu-item-link, .nav__menu-item-image {
	height: 100%;
	display: inline-block;
}
