body {
	margin: 0;
	padding: 0;
	background-color: darkgrey;
}

#barra {
	box-shadow: 0 5px 10px 5px grey;
	background-color: #2e2e33;
}
#barra__parte-derecha,
#barra__parte-izquierda {
	display: inline-block;
	width: 49.5vw;
	vertical-align: middle;
}
#barra__parte-derecha {
	text-align: center;
}

#parte-derecha__links ul {
	margin: 0;
	padding: 0;
}
#parte-derecha__links li {
	display: inline-block;
	padding: 2px;
	align: left;

	text-decoration: none;
/*	background-color: #0f1011;*/
	font-size: 3em;
}
#parte-derecha__links li a {
	color: grey;
	transition: 0.25s;
}
#parte-derecha__links li a:hover {
	color: white;
}
#parte-derecha__links li::after {
	content: "";
	padding-right: 10px;
}

