.navbar, .navbar ul {
	height: 20vh;
	background-color: var(--secondary-color);
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}
.navbar__element, .navbar__link {
	height: 100%; 
}
.navbar__link {
	color: var(--primary-color);
	transition: 0.25s;
}
.navbar__logo,
.navbar__logo img {
	margin-left: 3%;
	height: 90%;
}
.navbar__link svg{
	pointer-events: none;
	text-decoration: none;
	font-size: 3rem;
	padding: 2px;
	height: 100%;
	margin-top: 25%;
}
.navbar ul {
	list-style: none;
	position: absolute;
	right: 0;
}
.navbar ul:not(:first-child) a svg {
	height: 50%;
	vertical-align: middle;
}

.navbar__link:hover svg {	
	background-color: red;
}
.navbar__link::after {
	content: "";
	padding-right: 10px;
}
