body {
	text-align: center;
}

.join {
	color: #2e2e33;
	background-color: #808080;
	padding: 10px;
}
.join a {
	text-decoration: none;
	color: black;
}

.leave {
	color: #2e2e33;
	background-color: #808;
	padding: 10px;
}
