.club {
	border-radius: 10px;
	padding: 10px;
	background: var(--accent-color);
}

.club__decoration, .club__content {
	display: inline-block;		
	vertical-align: middle;
}

.club__image {
	vertical-align: middle;
	display: inline-block;
	width: 140px;
}

.club__link {
	color: var(--secondary-color);
	transition: 0.25s;
	display: inline-block;
}
.club__link:hover {
	color: var(--primary-color);
	opacity: 1;
}
.club__link:active {
	color: var(--secondary-color);
}

.add-button {
	display: block;
	text-align: center;
	color: #0f1011;
}
.add-button svg {
	fill: var(--secondary-color);
	transition: 0.25s;
}
.add-button svg:hover path {
	fill: var(--accent-color);
}
.add-button svg:active path {
	fill: var(--secondary-color);
}

