.main {
	text-align: center;
}
.join {
	color: var(--accent-color);
	background-color: var(--accent-color);
}
.join__link {
	color: var(--secondary-color);
	text-decoration: none;
}

.leave {
	color: var(--secondary-color);
	background-color: var(--secondary-color);
}
.leave__link {
	text-decoration: none;
	color: var(--accent-color);
}

.join, .leave {
	padding: var(--roundedness);
	border-radius: var(--roundedness);
}
