<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8"/>

		{% block head_content %}{% endblock %}

		{% load static %}
		<link rel="stylesheet" href={% static 'css/base.css' %}/>

		<meta name="robots" content="index,follow"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta rel="shortcut icon" type="image/png" href="favicon.ico">
	</head>
	
	<body>
		{% include 'navbar.html' %}
	
		<main class="main">
			{% block container %}
			{% endblock %}
		</main>
	</body>
</html>
