{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"
</head>
<header id="barra">
	<div id="barra__parte-izquierda">
		<a href="{% url 'posts' %}"><img src={% static "img/colegio_dark.png" %}></a>
	</div>
	<div id="barra__parte-derecha">
		<nav id="parte-derecha__links">
			<ul>
				{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}">LogOut</a></li>
				{% else %}
					<li><a href="{% url 'login' %}">Login</a></li>	
				{% endif %}
			</ul>
		</nav>
	</div>
</header>
